   <a href="/"> &larr; Back to Home</a>
        <center>
        <h1 class="create-h1">Create New Listing</h1>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingUrl" placeholder="Enter Url">
            <label for="floatingUrl">Url</label>
          </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingTitle" placeholder="title">
            <label for="floatingTitle">Title</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingText" placeholder="Text">
            <label for="floatingText">Text</label>
          </div>
          <div class="a-grid">
            <button class="btn btn-primary" type="button">Create</button>
          </div>
          </center>
          <h2>Your Posts:</h2>